<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testboard.mapper.AccountMapper">
    <insert id="insertUser" parameterType="hashmap" useGeneratedKeys="true" keyProperty="idx" keyColumn="idx">
        insert into user (user_id, password) values ( #{userId}, #{password} )
    </insert>

    <insert id="userRoleSave" parameterType="Long">
        insert into user_role (user_idx, role_idx) values ( #{idx}, 1 );
    </insert>

    <resultMap id="userMap" type="com.example.testboard.model.dto.UserDto" autoMapping="true">
        <id column="user_idx" property="idx"/>
        <result property="userId" column="user_id"/>
        <result property="password" column="password"/>
        <collection property="userRoles" column="id" ofType="com.example.testboard.model.dto.UserRoleDto">
            <result property="idx" column="idx"/>
            <result property="userId" column="user_idx"/>
            <result property="roleId" column="role_idx"/>
            <association property="role" column="role_idx" javaType="com.example.testboard.model.dto.RoleDto" resultMap="roleMap">
            </association>
        </collection>
    </resultMap>
    <resultMap id="roleMap" type="com.example.testboard.model.dto.RoleDto">
        <id property="idx" column="idx"/>
        <result property="roleName" column="role_name"/>
    </resultMap>
    <select id="findByUserId" parameterType="String" resultMap="userMap">
        select u.user_idx, u.user_id, u.password, ur.idx, ur.user_idx, ur.role_idx, r.role_name
        from user u, user_role ur, role r
        where u.user_id = #{userId} and u.user_idx = ur.user_idx and ur.role_idx = r.idx;
    </select>

    <select id="findIdxByUserId" parameterType="String" resultType="Long">
        select user_idx from user where user_id = #{userId}
    </select>

    <select id="selectAll" resultMap="userMap">
        select * from user
    </select>
</mapper>