<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testboard.mapper.ScheduleMapper">
    <resultMap id="scheduleMap" type="HashMap">
        <result property="userIdx" column="user_idx"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="startAt" column="start_at"/>
        <result property="endAt" column="end_at"/>
        <result property="Idx" column="sc_idx"/>
    </resultMap>

    <insert id="save" parameterType="hashmap">
        insert into schedules (title, description, user_idx, start_at, end_at)
        values ( #{title}, #{description}, #{userIdx}, #{startAt}, #{endAt})
    </insert>

    <select id="list" parameterType="hashmap" resultMap="scheduleMap">
        select * from schedules
        where user_idx = #{userIdx}
          and (start_at between #{startAt} and #{endAt}
          or end_at between #{startAt} and #{endAt})
    </select>

    <select id="getToday" parameterType="Long" resultMap="scheduleMap">
        select * from schedules
        where user_idx = #{userIdx}
          and user_idx = #{userIdx} and DATE(curdate()) between start_at and end_at;
    </select>

    <delete id="delete" parameterType="Long">
        delete from schedules where sc_idx = #{sIdx}
    </delete>
</mapper>