<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/starter-template.css}" href="/static/css/starter-template.css">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script th:src="@{/js/board.js}"></script>
    <title>Title</title>
</head>
<body>
<main>
    <nav class="navbar navbar-inverse navbar-fixed-top" th:replace="fragment/common :: menu"></nav>
    <div class="formMiddle">
        <div class="board-form">
            <form method="post" enctype="multipart/form-data" id="boardForm">
                <div class="formcontainer">
                    <div class="skill">
                        <label for="formGroupExampleInput2" class="form-label">Category</label>
                        <select class="form-select" aria-label="Default select example" name="category">
<!--                            <option sec:authorize="hasRole('ROLE_ADMIN')"-->
<!--                                    th:each="categoryName : ${catName}"-->
<!--                                    th:value="${categoryName.getIdx()}"-->
<!--                                    th:text="${categoryName.getCategoryName()}"-->
<!--                                    th:if="${categoryName.getIdx() == 2}"></option>-->
<!--                            <option th:each="categoryName : ${catName}"-->
<!--                                    th:value="${categoryName.getIdx()}"-->
<!--                                    th:text="${categoryName.getCategoryName()}"-->
<!--                                    th:if="${categoryName.getIdx() != 2}"></option>-->
                            <option sec:authorize="hasRole('NORMAL_USER')"
                                    th:each="categoryName : ${catName}"
                                    th:if="${categoryName.get('role_idx') == 1}"
                                    th:value="${categoryName.get('idx')}"
                                    th:text="${categoryName.get('category')}"></option>

                            <option sec:authorize="hasRole('ADMIN')"
                                    th:each="categoryName : ${catName}"
                                    th:if="${categoryName.get('role_idx') == 2}"
                                    th:value="${categoryName.get('idx')}"
                                    th:text="${categoryName.get('category')}"></option>
                        </select>
                    </div>
                    <div class="board-content mb-3">
                        <label for="formGroupExampleInput" class="form-label">Title</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder" name="title">
                    </div>
                    <div class="board-content mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Content</label>
                        <textarea type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder" rows="10" name="content"></textarea>
                    </div>
                    <div class="board-content file-upload">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3" style="padding-left: 0">File Upload</label>
                        <div class="col-sm-12 col-md-7" style="padding-left: 0">
                            <input type="file" multiple="multiple" name="img" id="img">
                        </div>
                    </div>
                    <div class="text-right">
                        <a type="button" class="create btn btn-primary">확인</a>
                        <a type="button" class="btn btn-primary" href="/board/list">취소</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<script>
    $('.create').click(function (){
        var object = {}
        var formDataArr = $('#boardForm').serializeArray()
        var len = formDataArr.length
        for (i=0; i<len; i++){
            object[formDataArr[i].name] = formDataArr[i].value;
        }
        var jsonData = JSON.stringify(object)
        var form = $('#boardForm')[0];
        console.log("form : ", form)
        var formData = new FormData(form);
        formData.append("Json", jsonData);
        console.log(formData)
        $.ajax({
            type:"POST",
            enctype:'multipart/form-data',
            url:'/api/board/create',
            data:formData,
            dataType:'text',
            processData:false,
            contentType:false,
            cache:false,
            success:function(data){
                console.log("success : ", data);
                alert('등록되었습니다.');
                window.location.href = '/board/list';
            },
            error:function(e){
                console.log("error : ", e);
            }
        });
    })
</script>
</body>
</html>