<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/starter-template.css}" href="/static/css/starter-template.css">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<main style="margin: 30px">
    <nav class="navbar navbar-inverse navbar-fixed-top" th:replace="fragment/common :: menu"></nav>
    <label for="recentPost" class="form-label" id="recentPost1">Recent Post</label>
    <div class="indexBoard" id="recentPost">
        <div class="recentBoard">
            <label for="recentF" class="form-label">FREE BOARD</label>
            <div class="freeBoardC5" id="recentF">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="cen" scope="col">No</th>
                        <th class="cen" scope="col">Title</th>
                        <th class="cen" scope="col">User</th>
                    </tr>
                    </thead>
                    <tbody class="bTbody">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="recentNotice">
            <label for="recentN" class="form-label">NOTICE</label>
            <div class="noticeC5" id="recentN">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="cen" scope="col">No</th>
                        <th class="cen" scope="col">Title</th>
                        <th class="cen" scope="col">CreatedAt</th>
                    </tr>
                    </thead>
                    <tbody class="nTbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <label for="mySchedule" class="form-label" id="schedule">My Schedule</label>
    <div id="mySchedule">
        <tr>
            <div class="todayScheduleListBox">
            </div>
        </tr>
    </div>
</main>
<script>
    $(document).ready(function (){
        $.ajax({
            url: '/api/index',
            data:{
                catNum: 1
            },
            dataType:'JSON',
            type:'GET',
            success: function (result){
                $.each(result, function (idx, row){
                    $('.bTbody').append(
                        "<tr><td>"
                        + row.idx +
                        "</td><td><a href='/board/detail?idx="+row.idx+"'>"
                        + row.title +
                        "</a></td><td>"
                        + row.user.userId +
                        "</td></tr>"
                    )
                })
            },
            error: function () {
                alert("Message : board List error")
            }
        })
        $.ajax({
            url: '/api/index',
            data:{
                catNum: 2
            },
            dataType:'JSON',
            type:'GET',
            success: function (result){
                $.each(result, function (idx, row){
                    $('.nTbody').append(
                        "<tr><td>"
                        + row.idx +
                        "</td><td><a href='/board/detail?idx="+row.idx+"'>"
                        + row.title +
                        "</a></td><td>"
                        + row.createdAt +
                        "</td></tr>"
                    )
                })
            },
            error: function () {
                alert("Message : board List error")
            }
        })
        $.ajax({
            url: '/api/scheduleList',
            dataType: 'JSON',
            type: 'GET',
            success: function (result){
                $.each(result, function (idx, item){
                    $('.todayScheduleListBox').append(
                        "<div class='todayScheduleBox'>\n" +
                        "<div style='font-weight: 500'>\n" +
                        "<label></label>\n" +
                        "<td>" + item.startAt + " ~ " + item.endAt + "</td></div>\n" +
                        "<div>\n" +
                        "<label>title : </label>\n" +
                        "<td>" + item.title + "</td></div>\n" +
                        "<div>\n" +
                        "<label>Description : </label>\n" +
                        "<td>" + item.description + "</td></div></div>"
                    )
                })
            }
        })
    })
</script>
</body>
</html>